*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* :root{
	--cor-bg-principal: pink;
} 

border: 1px solid var(--cor-bg-principal);
*/

.center{
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
	/* max-width: 1200px; */
}

html,body{
	height: 100%;
	min-width: 280px;
}

.selector {
	cursor: pointer;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #d8d8d8; /*#688293 rgb(104,130,147)*/
	margin: auto 7px;
}

/******** HEADER **********/
header{
	width: 100%;
}

nav.center{
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 30px;
}

header nav.center div.right img{
	display:none;
}

header nav.center .right ul.menu{
	width: 100%;
	display:flex;
}

header nav.center .right ul.menu li{
	padding: 10px 30px;
	list-style-type: none;
}

header nav.center .right ul.menu li a{
	text-decoration: none;
	color: #b4b4b4;
	text-transform: uppercase;
}

/* <!--MENU-MOBILE --> */
.mobile-menu {
	display: none;
  width: 100%;
  padding-top: 12px;
	position: absolute;
	left: 0px;
  top: 60px;
}

.mobile-menu li {
  background-color: white;
  text-align: center;
  /* transition: 1s; */
}

.mobile-menu li:hover {
  background-color: rgb(230, 230, 230);
}

.mobile-menu a {
  padding: 10px 0;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	color: #b4b4b4;
}


/******** MOSAICO **********/
.mosaico {
	width: 100%;
	/* border: 2px solid red; */
	margin-top: 20px;
	/* margin-bottom: 10px; */
}
.mosaico-fotos {
	/* border: 2px solid blue; */
	width: 100%;	
	display: flex;
}

.mosaico-couple {
	/* border: 2px solid black; */
	width: 100%;
	padding: 5px;
	/* width: calc((100%/6) - 10px); */
	/* min-width: calc((100%/6) - 10px); */
}

.indiv-foto {
	/* border: 2px solid yellow; */
	/* height: 15vw; setado via js */
	/* max-height: 200px; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

/************* SERVCOS ****************/
.servicos {
	/* border: 2px solid red; */
	width: 100%;
	margin-top: -22px;
	margin-bottom: 90px;
}
.servicos > .center {
	/* border: 2px solid yellow; */
	max-width: 1000px;
	width: 100%;
}
.container-servicos {
	/* border: 2px solid green; */
	width: 100%;
	display: flex;
	align-items: center;
	/* height: 200px; */
}

.indiv-servico{
	text-align: center;
}

.indiv-servico:nth-child(1),
.indiv-servico:nth-child(3) {
	background-color: #576975;
	width: 30%;

	min-height: 190px;
	padding: 20px;
}
.indiv-servico:nth-child(2) {
	background-color: #688293; 
	width: 40%;
	min-height: 240px;
	padding: 40px;
}

.indiv-servico:nth-child(1) h2,
.indiv-servico:nth-child(3) h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 15px;
}

.indiv-servico:nth-child(2) h2{
	color: white;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 20px;
}
.indiv-servico p{
	color: #c1c8cc;
	font-size: 13px;
}


/************* PROFISSIONAL ****************/
section.profissional{
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	display:flex;
	align-items: flex-start;
}

section.profissional img{
	width: 40%;
}

section.profissional div.desc-prof{
	padding:  0px 30px 20px;
	width: 60%;
}

section.profissional div.desc-prof h2{
	color: #698293;
	font-weight: 100;
	margin-bottom: 20px;
}

section.profissional  div.desc-prof p{
	color: #b4b4b4;
	padding: 7px 0;
	font-size: 13px;
}

section.profissional  div.desc-prof ul li{
	list-style-type: none;	
}

section.profissional  div.desc-prof ul li p{
	display:flex;
	flex-direction: column;
	padding: 3px 0;
	text-align: justify;
	margin-left: 10px;
}

/************* VIDEO ****************/
.video{
	/* border: 2px solid black; */
	margin-top: 50px;
}
.video .center{
	/* border: 2px solid yellow; */
	width: 45%;
	height: 25vw; 
	text-align: center;
}

.video iframe{
	width: 100%; 
	height: 100%; 
}


/************** TRATAMENTOS ***********/
.tratamentos{
	/* border: 2px solid red; */
	margin-top: 80px;
}
.container-tratamentos{
	padding-left: 40px;
	padding-right: 40px;
}
.container-tratamentos > h2{
	/* border: 2px solid blue; */
	text-align: center;
	font-weight: normal;
	color: #698293;
	font-size: 18px;
	text-transform: uppercase;
	height: 80px;	
}
.all-columns{
	/* border: 4px solid purple; */
	display: flex;
}
/*FOR DEBUG */
/* .column-tratamentos{
	border: 2px solid yellow;
} */
.indiv-tratamento{
	padding-bottom: 35px;
	padding-right: 10px;
}
.indiv-tratamento h2{
	color: #737373;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 8px;
}

.indiv-tratamento p{
	color: #b4b4b4;
	font-size: 13px;
}

.tratamentos-selector{
	/* border: 2px solid orange; */
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.tratamentos-selector > .selector{
	margin: auto 7px;
	display: none;
}
.tratamentos-selector > .selector:first-child{
	background-color: #688293;
}

/************* DEPOIMENTOS ****************/
section.depoimentos{
	margin: 50px 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

section.depoimentos .depo1,
section.depoimentos .depo2{
	width: 80%;
	display:flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
}

section.depoimentos .depo2{
	display:none;
}


section.depoimentos h2{
	text-transform: uppercase;
	color:#698293;
	font-weight: 100;
	margin: 20px 0;
}

section.depoimentos p.depo-desc{
	min-height: 100px;
	width: 70%;
	text-align:center;
	color:#b4b4b4;
}

section.depoimentos div.user-depo{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 50%;
	padding: 10px 0;
}

section.depoimentos div.user-depo img{
	width: 100px;
	height: 100px;
}

section.depoimentos div.depo-selector{
	display: flex;
	justify-content: center;
}

section.depoimentos div.depo-selector .selector:nth-child(1){
	background-color:  #688293;
}

/********* SOCIAL *********/
.social{
	/* border: 2px solid red; */
	text-align: center;
}
.instagram{
	background-color: #98a5ae;
}
.facebook{
	background-color: #576975;
}
.instagram,
.facebook {
	color: white;
	padding: 30px 0px;
}
.instagram a, 
.facebook a{
	cursor: pointer;
}
.instagram img, 
.facebook img{
	margin-bottom: 8px;
}
.instagram p:first-of-type,
.facebook p:first-of-type {
	font-size: 13px;
}
.instagram p:last-of-type,
.facebook p:last-of-type {
	font-size: 10px;
}
.social-fotos{
	display: flex;
	align-items: center; 
	justify-content: space-around;
}
.social-fotos .indiv-foto {
	/* border: 2px solid yellow; */
	width: calc((100%/9) - 5px);
	min-width: calc((100%/9) - 5px);;
	height: 11vw; 
	max-height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.social-fotos .indiv-foto:nth-child(1) {
	background-image: url("../images/mosaico-1.jpg");
}
.social-fotos .indiv-foto:nth-child(2) {
	background-image: url("../images/mosaico-2.jpg");
}
.social-fotos .indiv-foto:nth-child(3) {
	background-image: url("../images/mosaico-3.jpg");
}
.social-fotos .indiv-foto:nth-child(4) {
	background-image: url("../images/mosaico-4.jpg");
}
.social-fotos .indiv-foto:nth-child(5) {
	background-image: url("../images/mosaico-5.jpg");
}
.social-fotos .indiv-foto:nth-child(6) {
	background-image: url("../images/mosaico-6.jpg");
}
.social-fotos .indiv-foto:nth-child(7) {
	background-image: url("../images/mosaico-7.jpg");
}
.social-fotos .indiv-foto:nth-child(8) {
	background-image: url("../images/mosaico-8.jpg");
}
.social-fotos .indiv-foto:nth-child(9) {
	background-image: url("../images/mosaico-9.jpg");
}


/******* CONTATO *******/

section.contato{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

section.contato form{
	width: 35%;
}

section.contato h2{
	text-transform: uppercase;
	color:#698293;
	font-weight: 100;
	margin: 20px 0;
}

section.contato form div.field{
	margin: 10px 0;
}

section.contato form div.field p{
	color:#b4b4b4;
	font-size: 14px;
}

section.contato form div.field input[type="text"],
section.contato form div.field input[type="email"],
section.contato form textarea,
section.contato form div.field input[type="tel"]{
	border: 1px solid #b4b4b4;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

section.contato form textarea{
	resize: none;
	height: 130px;
}

section.contato form div.ajustar{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

section.contato form button{
	background-color: #576975;
	margin: 0px auto;
	border: none;
	padding: 10px 30px;
	color: white;
	font-size: 16px;
}

section.contato form p.obrigatorio{
	color:#b4b4b4;
	margin: 20px 0;
}


/******* CONTATO-EMPRESA *******/
footer section.contato-empresa{
	width: 100%;
	background-color: #688293;
	color: white;
	display:flex;
	justify-content:center;
	padding: 50px 0;
	align-items:center;
	
}

footer section.contato-empresa h2{
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 10px;
}

footer section.contato-empresa p{
	margin: 2px 0;
}


footer section.contato-empresa .telefone, 
footer section.contato-empresa .hora, 
footer section.contato-empresa .endereco{
margin-right: 30px;
}


	/****** COPYRIGHT *******/
section.copyright{
	background-color: #576975;
	display:flex;
	align-items: center;
	justify-content: center;
}

section.copyright span{
	color: white;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 900;
}

section.copyright span.simbolo {
	color: black;
	font-weight: bold;
	font-size: 22px;
}


@media screen and (min-width: 1051px) {
	.indiv-foto {
		/* max-height: 200px; */
	}
}
/******* MEDIA <= 1050px *******/
@media screen and (max-width: 1050px){

	header nav.center div.right img{
		display: block;
		position: absolute;
		top: 18px;
		right: 30px;
		height: 20px;
		width: 35px;
	}
	
	header nav.center div.right .menu{
		display: none;
	} 
	
	/**** VIDEO *****/
	.video .center{
		width: 60%;
		height: 34vw; 
	}
}

/******* MEDIA <= 850px *******/
@media screen and (max-width: 850px){
	/*********** SERVICOS *********/
	.container-servicos {
		flex-direction: column;
		justify-content: center;
	}

	.indiv-servico:nth-child(1),
	.indiv-servico:nth-child(3){
		min-width: 300px;	
	}

	.indiv-servico:nth-child(2){
		min-width: 380px;	
	}


	/************* PROFISSIONAL ****************/
	section.profissional{
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}
		
	section.profissional div.desc-prof h2{
		margin-top: 30px;
		text-align: center;
	}	

	/**** VIDEO *****/
	.video .center{
		width: 75%;
		height: 42vw; 
	} 

	/********** SOCIAL ************/
	.social-fotos .indiv-foto:nth-child(1),
	.social-fotos .indiv-foto:nth-child(2),
	.social-fotos .indiv-foto:nth-child(3){
		width: calc((100%/3) - 5px);
		min-width: calc((100%/3) - 5px);
		height: 35vw;
		min-height: none;
		max-height: none; 
	}

	.social-fotos .indiv-foto:nth-child(1n + 4){
		display: none;
	}

	/****** CONTATO-EMPRESA *******/
	footer section.contato-empresa{
		flex-direction:column;
	}
	
	footer section.contato-empresa .telefone, 
	footer section.contato-empresa .hora,
	footer section.contato-empresa .endereco{
		text-align:center;
		margin-top: 20px;
		margin-right: 0;
	}
}

/******* MEDIA <= 770px *******/
@media screen and (max-width: 770px) {
		/********* TRATAMENTOS ********/
	.column-tratamentos:nth-child(3) {
		display: none;
	}

	.tratamentos-selector > .selector:nth-child(1),
	.tratamentos-selector > .selector:nth-child(2){
		display: block;
	}

	/********* DEPOIMENTOS ********/
	section.depoimentos p.depo-desc{
		width: 100%;
	}	
	
	
	/****** CONTATO *******/
	section.contato form{
		width: 50%;
	}
}

/******* MEDIA <= 480px *******/
@media screen and (max-width: 480px) {
	/********* PROFISSIONAL ********/
	section.profissional div.desc-prof{
		width: 100%;
		padding: 0 10px;
	}

	section.profissional div.desc-prof h2{
		font-size: 16px;
	}
	
	section.profissional div.desc-prof p{
		font-size: 13px;
	}

	/********* TRATAMENTOS ********/
	.column-tratamentos:nth-child(2) {
		display: none;
	}	

	.tratamentos-selector > .selector:nth-child(3) {
		display: block;
	}
	
	/********* DEPOIMENTOS ********/
	section.depoimentos div.user-depo{
		flex-direction: column;
		width: 100%;
	}
}

/******* MEDIA <= 400px *******/
@media screen and (max-width: 400px) {

	header nav.center{
		padding: 0 10px;
	}

	header nav.center div.right img{
		top: 20px;
		right: 10px;
	}
	
	/**** SERVICO ****/
	.indiv-servico:nth-child(1),
	.indiv-servico:nth-child(3){
		min-width: 0px;	
		width: 84%;
	}

	.indiv-servico:nth-child(2){
		min-width: 0px;	
		width: 100%;
	}
	
	/***** VIDEO ******/
	/* .video .center{
		width: 90%;
		height: 200px;
	} */

	/****** TRATAMENTO ******/
	.container-tratamentos{
		padding-left: 10px;
		padding-right: 10px;
	}

	/************* DEPOIMENTOS ****************/
	section.depoimentos p.depo-desc{
		width: 100%;
		font-size: 14px;
		padding: 0 10px;
	}

	
	/****** CONTATO *******/
	section.contato form{
		width: 100%;
		padding: 0 10px;
	}
}


